@using HelperDinamico.Models
@model IList<LocomotivaViewModel>
@{
    ViewBag.Title = "Logs do Helper Dinâmico";
    ViewBag.Subtitle = "Atenção: O Log ficará disponibilizado por no máximo 7 dias.";
}
<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<h4 color="red">@ViewBag.Subtitle</h4>


<table class="table table-striped">
    <tr class="success">
        <th>
            Locomotiva
        </th>
        <td>
            Logs Disponíveis
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="">
                <div class="celulaArquivos">
                    <a class="action">Arquivos</a>
                </div>
                <div class="row itens">
                    @{
                        foreach (var arq in item.Arquivos)
                        {
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="btn btn-warning" href="@Url.Action("Baixar")?fileInfo=@arq.Name">
                                            <span aria-hidden="true" class="glyphicon glyphicon-download"></span>
                                            @arq.Name
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-success" href="@Url.Action("BaixarXls")?fileDir=@arq.DirectoryName&fileName=@arq.Name">
                                            <span aria-hidden="true" class="glyphicon glyphicon-download"></span>
                                            Log em Excel
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <a class="btn btn-primary" href="@Url.Action("Analisar")?fileDir=@arq.DirectoryName&fileName=@arq.Name">
                                            <span aria-hidden="true" class="glyphicon glyphicon-stats"></span>
                                            Analisar Log
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
    }

</table>

<script>
    var buttons = document.getElementsByClassName("action");
    var itens = document.getElementsByClassName("itens"); // lista

    function showHide() {

        var lvitens = this.parentNode.parentNode.getElementsByClassName("itens");

        for (var i = 0; i < lvitens.length; i++) {

            if (lvitens[i].style.display == "none") {
                lvitens[i].style.display = 'inline';
            }
            else
                lvitens[i].style.display = 'none';

        }
    }

    for (var i = 0; i < buttons.length; i++)
        buttons[i].onclick = showHide;

    for (var i = 0; i < itens.length; i++)
        itens[i].style.display = 'none';

</script>